<!-- Taken from existing SPLS meeting pages to provide abstract hiding.

     we can replace with pure css using details html tag
  -->
  <script>
    function showAbstract(name) {
      document.getElementById(name + "/abstract").style.display = "block";
      document.getElementById(name + "/button").style.display = "none";
    }
    function hideAbstract(name) {
      document.getElementById(name + "/button").style.display = "block";
      document.getElementById(name + "/abstract").style.display = "none";
    }
  </script>
